
<ion-header>

  <ion-navbar color="dark">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title item-right>
      <img src="assets/img/tkride-cropped.png" alt="" class="logo-style" />
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <p>TKride.com started to bring consumer 5 Star service with low prices.</p>
    <br>
    <p>TKride let you choose your driver see there profile & vehicle before requesting ride.</p>
    <br>
    <p>We have no surcharges no hidden fees.</p>
    <br>
    <p>Our prices are as follows: </p>
    <br>
    <ul>
      <li>$12.00 when you enter the vehicle plus $2.75 mile plus 55 cent minute.</li>
      <li>Minimum charge is $12.00</li>
      <li>We have pre-order service request. </li>
      <li>We have selected top drivers with there top quality cars.</li>
      <li>Drivers have the newest model from 2013 to 2017.</li>
      <li>We charge your account when you have reached your location.</li>
    </ul>
    <br>
    <p>We look forward to give you 5 star service.</p>
    <br>
    <p style="color: darkblue" (click)="openBrowser()"><strong>TKride.com</strong></p>
    <br>
    <p>Management </p>
</ion-content>
