page-login {
  form {
    margin-bottom: 32px;
    button {
      margin-top: 20px;
    }
  }

  p {
    font-size: 0.8em;
    color: #d2d2d2;
  }

  ion-label {
    margin-left: 5px;
  }

  ion-input {
    padding: 5px;
  }

  .invalid {
    border-bottom: 1px solid #FF6153;
  }

  .error-message .item-inner {
    border-bottom: 0 !important;
  }
  // #login-image {
  //   background: url('https://lifewithhiccups.files.wordpress.com/2011/10/super-hero.jpg');
  //   background: cover;
  //   width: 100%;
  //   height: 100%;
  //   background-position:absolute;
  //   top: 0;
  //   left: 0;
  //   z-index: -1;
  // }

  .item{
   background-color: rgba(37, 3, 6,0.7) !important;
 }

 .label{
   color: #bfbfbf !important;
 }

 .input{
   color: #fff !important;
 }

  .invalid {
    border-bottom: 1px solid #FF6153;
  }

  .error-message .item-inner {
    border-bottom: 0 !important;
  }

  ion-content{
    // background-image: url('https://www.empirecls.com/wp-content/themes/empire-custom/images/hero-home.jpg');
    // background: url('img/hero-home.jpg');
    background-image: url('../assets/img/hero-home.jpg');
    // background: cover;
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    left: 0;
    z-index: -1;

    
  }

  .home-logo{
  margin-top:70px;
  margin-bottom:30px;
      width: 65%;
}

}
