
<ion-header>

 <!--  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar> -->

</ion-header>

<ion-content padding>
  <ion-title item-right>
      <img class="home-logo" src="assets/img/login.png" alt="" />
    </ion-title>
  <div id="loading-image">
    <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>
      <ion-item>
        <ion-label stacked class="label">Email</ion-label>
        <ion-input formControlName="email" class="input" type="email"
        placeholder="yourname@example.com"
        [class.invalid]="!loginForm.controls.email.valid &&
        (loginForm.controls.email.dirty || submitAttempt)"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid  &&
      (loginForm.controls.email.dirty || submitAttempt)">
      <p>Please enter a valid email.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked class="label">Password</ion-label>
      <ion-input formControlName="password" class="input" type="password"
      placeholder="minimum 6 characters"
      [class.invalid]="!loginForm.controls.password.valid &&
      (loginForm.controls.password.dirty || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid  &&
    (loginForm.controls.password.dirty || submitAttempt)">
    <p>Your password needs more than 6 characters.</p>
  </ion-item>

  <ion-row>
    <ion-col text-center>
      <button ion-button color="dark" block type="submit">
        Login
      </button>
    </ion-col>
  </ion-row>
</form>
<ion-row>
  <ion-col text-center>
    <button ion-button block color="dark" (click)="goToResetPassword()">Forgot your password?
    </button>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col text-center>
    <button ion-button block color="dark" (click)="createAccount()">Register as Driver
    </button>
  </ion-col>
</ion-row>
</div>

</ion-content>
