<!--
  Generated template for the ModalPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar>
    <ion-title>Description</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <ion-list>
      <ion-item>
        <h2>Driver name: {{name}}</h2>
        <h4>Car Make: {{car_make}}</h4>
        <h4>Car Modal: {{car_model}}</h4>
        <h4>Car Color: {{car_color}}</h4>
      </ion-item>

      <!-- <ion-item *ngFor="let item of character['items']">
        {{item.title}}
        <ion-note item-right>
          {{item.note}}
        </ion-note>
      </ion-item> -->
  </ion-list>
</ion-content>
