
<ion-header>

  <ion-navbar color="dark">
    <ion-title>Bank Information</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h5 style="color: white">Step 3 of 6</h5>
  <form [formGroup]="signupBankForm">
    <ion-item>
      <ion-label stacked>Bank name</ion-label>
      <ion-input #bankName formControlName="bankName" class="input"
        [class.invalid]="!signupBankForm.controls.bankName.valid &&
        (signupBankForm.controls.bankName.dirty || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item *ngIf="!signupBankForm.controls.bankName.valid &&
      (signupBankForm.controls.bankName.dirty || submitAttempt)">
      <p>Please enter a valid bank name.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Account title</ion-label>
      <ion-input #accountHolderName formControlName="accountHolderName" class="input"
        [class.invalid]="!signupBankForm.controls.accountHolderName.valid &&
        (signupBankForm.controls.accountHolderName.dirty || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item *ngIf="!signupBankForm.controls.accountHolderName.valid &&
      (signupBankForm.controls.accountHolderName.dirty || submitAttempt)">
      <p>Please enter a valid account holder name.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Account number</ion-label>
      <ion-input #accountNumber formControlName="accountNumber" class="input"
        [class.invalid]="!signupBankForm.controls.accountNumber.valid &&
        (signupBankForm.controls.accountNumber.dirty || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item *ngIf="!signupBankForm.controls.accountNumber.valid &&
      (signupBankForm.controls.accountNumber.dirty || submitAttempt)">
      <p>Please enter a valid account number.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>ABA number</ion-label>
      <ion-input #abaNumber formControlName="abaNumber" class="input"
        [class.invalid]="!signupBankForm.controls.abaNumber.valid &&
        (signupBankForm.controls.abaNumber.dirty || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item *ngIf="!signupBankForm.controls.abaNumber.valid &&
      (signupBankForm.controls.abaNumber.dirty || submitAttempt)">
      <p>Please enter a valid aba number.</p>
    </ion-item>

    <ion-row>
      <ion-col text-center>
        <button ion-button round style="margin-top:20px;" color="dark" (click)="continue()" icon-right>
          Continue
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
