<ion-header>

  <ion-navbar color="dark">
    <ion-title>Terms and Conditions</ion-title>
    <ion-buttons start>
        <button ion-button (click)="dismiss()">
          <span color="primary" showWhen="ios">Close</span>
          <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p>Being a driver for TKride is Free to sign up. Please read the terms & conditions below</p>
  <ul>
    <li>Fill out the application.</li>
    <li>Upload your DMV Record.</li>
    <li>Upload your car registration</li>
    <li>Drivers must have car insurance & current car registration.</li>
  </ul>
  <p>It will take up to 72 hours for approval then independent drivers will receive email to create your account
  and start earning your money while driving clients.</p>
  <br>
  <h5>Prices/Fees</h5>
  <p>We charge client(s) $12.00 when client enter the vehicle plus $2.75 per mile, plus 55 cents a minute and
  any bridge/toll charges. There are no other fee hidden.</p>
  <p>TKride.com will deduct 15% from each transaction from drivers only.
  There are no other hidden fees or expenses. Simple.</p>
  <p>Drivers will get paid every week direct deposit into Drivers account or we can send Drivers a physical check.</p>
  <br>
  <h5>Driver Responsibility</h5>
  <p>Company has the right to close Drivers account or terminate the account for any reason.</p>
  <p>Drivers are independent contractors not emplyees and will not be entitled to any of the benefits of an
  employee.</p>
  <p>Drivers are responsible for their own taxes. We will send Drivers a 1099 form by end of calendar year.</p>
  <p>In case of accident involvement or Drivers involvement in any issues the drivers are responsible for
  damages or technical issues and customers issue and must resolve the matter with respect and by law
  if it is necessary.</p>
  <p>Drivers are independent Drivers work for them self and there own risk.</p>
  <p>Drivers do not own any shares of the company or company technology,company website , code or code of
  the App. The company owns the technology and are just ser vicing the client to match them with drivers.</p>
  <p>Drivers are independent Drivers using our app to bring them clients to earn fee while driving the clients.</p>
  <p>All information provided by you is kept private, encrypted & offline. We will not share your information
  with any 3rd party.</p>
  <p>We would ask you to respect all clients to keep giving 5 star service & have return client to choose our
  service and keep our independent Drivers happy.</p>
  <p>Drivers car model must be in good edition, clean and well maintenanced to preserve the integrity of our
  company. Only cars with model years 2014 or newer will be considered or allowed.</p>
  <p>We approve only the following brand cars: BMW, Mercedes , Chevy Suburban, Chevy Tahoe, GMC Yukan,
  Infinity , Lincoln ,Lexus, Tesla, Cadillac, GMC, Range Rover & Jaguar.</p>

  <p><strong>Enjoy our 5 star service.</strong></p>
  <br>
  <p><strong>TKride.com</strong></p>
  <p>Management Team</p>
</ion-content>
