<ion-header>

  <ion-navbar color="dark">
    <ion-title>Edit Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="profileForm">
    <ion-item>
      <ion-label stacked>Name</ion-label>
      <ion-input formControlName="fullName" type="text" value={{fullname}} placeholder={{fullname}} [class.invalid]="!profileForm.controls.fullName.valid &&
      (profileForm.controls.fullName.dirty || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item *ngIf="!profileForm.controls.fullName.valid  &&
    (profileForm.controls.fullName.dirty || submitAttempt)">
      <p>Please enter a valid name.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>City</ion-label>
      <ion-input formControlName="city" type="text" value={{city}} placeholder={{city}} [class.invalid]="!profileForm.controls.city.valid &&
    (profileForm.controls.city.dirty || submitAttempt)"></ion-input>
      <!-- <ion-select placeholder={{city}} [class.invalid]="!profileForm.controls.city.valid
    && (profileForm.controls.city.dirty || submitAttempt)" class="input" formControlName="city">
    <ion-option value="SF" selected>San Francisco</ion-option>
  </ion-select> -->
    </ion-item>
    <ion-item class="error-message" *ngIf="!profileForm.controls.state.valid  &&
(profileForm.controls.state.dirty || submitAttempt)">
      <p>Please select a City.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>State</ion-label>
      <ion-input formControlName="state" type="text" value={{state}} placeholder={{state}} [class.invalid]="!profileForm.controls.state.valid &&
  (profileForm.controls.state.dirty || submitAttempt)"></ion-input>
      <!-- <ion-select placeholder={{state}} [class.invalid]="!profileForm.controls.state.valid
  && (profileForm.controls.state.dirty || submitAttempt)" class="input" formControlName="state">
  <ion-option value="CF" selected>California</ion-option>
</ion-select> -->
    </ion-item>
    <ion-item class="error-message" *ngIf="!profileForm.controls.state.valid  &&
(profileForm.controls.state.dirty || submitAttempt)">
      <p>Please select a state.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Zipcode ({{zipcode | slice:-3}}***)</ion-label>
      <ion-input formControlName="zipcode" type="number" class="input" [class.invalid]="!profileForm.controls.zipcode.valid &&
  (profileForm.controls.zipcode.dirty|| submitAttempt)" placeholder="e.g. 90001"></ion-input>
    </ion-item>
    <ion-item *ngIf="!profileForm.controls.zipcode.valid && (profileForm.controls.zipcode.dirty || submitAttempt)">
      <p>Please enter a valid zipcode.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked class="label">Phone Number ({{phoneNumber | slice:0:2}})</ion-label>
      <ion-input formControlName="phoneNumber" class="input" [class.invalid]="!profileForm.controls.phoneNumber.valid &&
  (profileForm.controls.phoneNumber.dirty || submitAttempt)" placeholder="+31636363634"></ion-input>
    </ion-item>
    <ion-item *ngIf="!profileForm.controls.phoneNumber.valid && (profileForm.controls.phoneNumber.dirty || submitAttempt)">
      <p>Please enter a valid phone number.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked class="label">Social Security Number {{ssn | slice:0:3}}*****{{ssn | slice:-2}}</ion-label>
      <ion-input formControlName="ssn" class="input" [class.invalid]="!profileForm.controls.ssn.valid &&
  (profileForm.controls.ssn.dirty || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item *ngIf="!profileForm.controls.ssn.valid && (profileForm.controls.ssn.dirty || submitAttempt)">
      <p>Please enter a valid SSN.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Bank name</ion-label>
      <ion-input formControlName="bankName" value={{bankName}} placeholder={{bankName}} class="input" [class.invalid]="!profileForm.controls.bankName.valid &&
  (profileForm.controls.bankName.dirty || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item *ngIf="!profileForm.controls.bankName.valid &&
(profileForm.controls.bankName.dirty || submitAttempt)">
      <p>Please enter a valid bank name.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Account title</ion-label>
      <ion-input formControlName="accountHolderName" value={{accountHolderName}} placeholder={{accountHolderName}} class="input"
        [class.invalid]="!profileForm.controls.accountHolderName.valid &&
  (profileForm.controls.accountHolderName.dirty || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item *ngIf="!profileForm.controls.accountHolderName.valid &&
(profileForm.controls.accountHolderName.dirty || submitAttempt)">
      <p>Please enter a valid account holder name.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Account number ({{accountNumber | slice:0:5}}****{{accountNumber | slice:-3}})</ion-label>
      <ion-input formControlName="accountNumber" class="input" [class.invalid]="!profileForm.controls.accountNumber.valid &&
  (profileForm.controls.accountNumber.dirty || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item *ngIf="!profileForm.controls.accountNumber.valid &&
(profileForm.controls.accountNumber.dirty || submitAttempt)">
      <p>Please enter a valid account number.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>ABA number</ion-label>
      <ion-input formControlName="abaNumber" value={{abaNumber}} placeholder={{abaNumber}} class="input" [class.invalid]="!profileForm.controls.abaNumber.valid &&
  (profileForm.controls.abaNumber.dirty || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item *ngIf="!profileForm.controls.abaNumber.valid &&
(profileForm.controls.abaNumber.dirty || submitAttempt)">
      <p>Please enter a valid aba number.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Driving License # ({{drivingLicense | slice:0:3}}****{{drivingLicense | slice:-3}})</ion-label>
      <ion-input formControlName="drivingLicense" class="input" [class.invalid]="!profileForm.controls.drivingLicense.valid && (profileForm.controls.drivingLicense.dirty || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item *ngIf="!profileForm.controls.drivingLicense.valid  && (profileForm.controls.drivingLicense.dirty || submitAttempt)">
      <p>Please enter a valid license number.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked class="label">License Expiration {{expirationDate}}</ion-label>
      <ion-datetime formControlName="expirationDate" class="input" displayFormat="MM-DD-YYYY" min="2017-04-01" max="2030-12-31"
        [class.invalid]="!profileForm.controls.expirationDate.valid && (profileForm.controls.expirationDate.dirty || submitAttempt)"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="!profileForm.controls.expirationDate.valid  && (profileForm.controls.expirationDate.dirty || submitAttempt)">
      <p>Please enter a license expiration date.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>License plate #</ion-label>
      <ion-input formControlName="licensePlateNumber" value={{licensePlateNumber}} placeholder={{licensePlateNumber}} class="input"
        [class.invalid]="!profileForm.controls.licensePlateNumber.valid && (profileForm.controls.licensePlateNumber.dirty || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item *ngIf="!profileForm.controls.licensePlateNumber.valid  && (profileForm.controls.licensePlateNumber.dirty || submitAttempt)">
      <p>Please enter a valid license number.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked class="label">Car Make</ion-label>
      <ion-select placeholder={{carMake}} [class.invalid]="!profileForm.controls.carMake.valid
  && (profileForm.controls.carMake.dirty || submitAttempt)" class="input" formControlName="carMake">
        <ion-option value="bmw">BMW</ion-option>
        <ion-option value="mercedes">Mercedes</ion-option>
        <ion-option value="chevyS">Chevrolet Suburban</ion-option>
        <ion-option value="chevyT">Chevrolet Tahoe</ion-option>
        <ion-option value="gmcY">GMC Yukan</ion-option>
        <ion-option value="infinity">Infinity</ion-option>
        <ion-option value="lincoln">Lincoln</ion-option>
        <ion-option value="lexus">Lexus</ion-option>
        <ion-option value="tesla">Tesla</ion-option>
        <ion-option value="cadillac">Cadillac</ion-option>
        <ion-option value="Mercedes">GMC</ion-option>
        <ion-option value="rangeOver">Range Rover</ion-option>
        <ion-option value="jaguar">Jaguar</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked class="label">Car Brand</ion-label>
      <ion-input #carModel formControlName="carBrand" type="text" value={{carBrand}} placeholder={{carBrand}} class="input" [class.invalid]="!profileForm.controls.carBrand.valid && (profileForm.controls.carBrand.dirty || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item *ngIf="!profileForm.controls.carBrand.valid  && (profileForm.controls.carBrand.dirty || submitAttempt)">
      <p>Please enter a brand name.</p>
    </ion-item>


    <ion-item>
      <ion-label stacked class="label">Car Color</ion-label>
      <ion-select placeholder={{carColor}} [class.invalid]="!profileForm.controls.carColor.valid
  && (profileForm.controls.carColor.dirty || submitAttempt)" class="input" formControlName="carColor">
        <ion-option value="silver" selected>Silver/Aluminium</ion-option>
        <ion-option value="black">Black</ion-option>
        <ion-option value="blue">Blue</ion-option>
        <ion-option value="grey">Grey</ion-option>
        <ion-option value="red">Red</ion-option>
        <ion-option value="white">White</ion-option>
        <ion-option value="green">Green</ion-option>
        <ion-option value="beige">Beige/Buff</ion-option>
        <ion-option value="yellow">Yellow</ion-option>
        <ion-option value="brown">Brown</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked class="label">Year Make {{carYear}}</ion-label>
      <ion-datetime #carYear formControlName="carYear" class="input" displayFormat="MMMM YYYY" min="2013" max="2017-12-31" ngControl="carYear"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="!profileForm.controls.carYear.valid  && (profileForm.controls.carYear.dirty || submitAttempt)">
      <p>Please enter a valid car model.</p>
    </ion-item>

    <ion-item class="no-padding">
      <ion-label stacked>Insurance Name</ion-label>
      <ion-input formControlName="insuranceName" type="text" value={{insuranceName}} placeholder={{insuranceName}} [class.invalid]="!profileForm.controls.insuranceName.valid &&
  (profileForm.controls.insuranceName.dirty || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!profileForm.controls.insuranceName.valid  &&
(profileForm.controls.insuranceName.dirty || submitAttempt)">
      <p>Please enter a valid name.</p>
    </ion-item>

    <ion-item class="no-padding">
      <ion-label stacked>Policy Number ({{policyNumber | slice:0:3}}****{{policyNumber | slice:-3}})</ion-label>
      <ion-input formControlName="policyNumber" type="text" value={{policyNumber}} placeholder={{policyNumber}} [class.invalid]="!profileForm.controls.policyNumber.valid &&
  (profileForm.controls.policyNumber.dirty || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!profileForm.controls.policyNumber.valid  &&
(profileForm.controls.policyNumber.dirty || submitAttempt)">
      <p>Please enter a valid name.</p>
    </ion-item>

  </form>
  <ion-item>
    <ion-thumbnail item-left>
      <img src={{profilePhoto}}>
    </ion-thumbnail>
    <h2>Profile picture</h2>
    <button ion-button icon-only (click)="takeProfilePicture()"><ion-icon name="ios-camera-outline"></ion-icon></button>
    <button ion-button icon-only (click)="takeProfilePictureFromPhotos()"><ion-icon name="md-images"></ion-icon></button>
  </ion-item>
  <ion-item>
    <ion-thumbnail item-left>
      <img src={{carPicture}}>
    </ion-thumbnail>
    <h2>Car picture</h2>
    <button ion-button icon-only (click)="takePicture()"><ion-icon name="ios-camera-outline"></ion-icon></button>
    <button ion-button icon-only (click)="takePictureFromPhotos()"><ion-icon name="md-images"></ion-icon></button>
  </ion-item>
  <ion-item>
    <ion-thumbnail item-left>
      <img src={{dmvPicture}}>
    </ion-thumbnail>
    <h2>DMV picture</h2>
    <button ion-button icon-only (click)="takeCarRegistrationPicture()"><ion-icon name="ios-camera-outline"></ion-icon></button>
    <button ion-button icon-only (click)="takeCarRegistrationPhotos()"><ion-icon name="md-images"></ion-icon></button>
  </ion-item>
  <ion-item>
    <ion-thumbnail item-left>
      <img src={{carRegistrationPicture}}>
    </ion-thumbnail>
    <h2>Registration picture</h2>
    <button ion-button icon-only (click)="takeDmvPicture()"><ion-icon name="ios-camera-outline"></ion-icon></button>
    <button ion-button icon-only (click)="takeDmvPhotos()"><ion-icon name="md-images"></ion-icon></button>
  </ion-item>
  <ion-item>
    <ion-thumbnail item-left>
      <img src={{insuranceCardPhoto}}>
    </ion-thumbnail>
    <h2>Insurance Card picture</h2>
    <button ion-button icon-only (click)="takeInsurancePicture()"><ion-icon name="ios-camera-outline"></ion-icon></button>
    <button ion-button icon-only (click)="takeInsurancePictureFromPhotos()"><ion-icon name="md-images"></ion-icon></button>
  </ion-item>
  <button ion-button full color="dark" (click)="updateProfile()">Update Profile</button>
</ion-content>