<ion-header>

  <ion-navbar color="dark">
    <ion-title>Legal Information</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h5 style="color: white">Step 6 of 6</h5>
  <form [formGroup]="signupLegalForm">

    <ion-item>
      <ion-label stacked>Do you have a TCP number ?</ion-label>
      <ion-select (ionChange)="enable($event)"
        [class.invalid]="!signupLegalForm.controls.doYouHaveTcpNumber.valid
        && (signupLegalForm.controls.doYouHaveTcpNumber.dirty || submitAttempt)" class="input" formControlName="doYouHaveTcpNumber">
        <ion-option value="no" selected="true">No</ion-option>
        <ion-option value="yes">Yes</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked>TCP Number</ion-label>
      <ion-input [disabled]="disabled"
        [class.invalid]="!signupLegalForm.controls.tcpNumber.valid
              && (signupLegalForm.controls.tcpNumber.dirty || submitAttempt)"
              class="input" formControlName="tcpNumber" ></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupLegalForm.controls.tcpNumber.valid  &&
      (signupLegalForm.controls.tcpNumber.dirty || submitAttempt)">
      <p>Please select a TCP Number.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Do you drive for Uber?</ion-label>
      <ion-select [class.invalid]="!signupLegalForm.controls.driveForUber.valid
        && (signupLegalForm.controls.driveForUber.dirty || submitAttempt)" class="input" formControlName="driveForUber">
        <ion-option value="no" selected="true">No</ion-option>
        <ion-option value="yes">Yes</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked>Do you drive for Lyft?</ion-label>
      <ion-select [class.invalid]="!signupLegalForm.controls.driveForLyft.valid
        && (signupLegalForm.controls.driveForLyft.dirty || submitAttempt)" class="input" formControlName="driveForLyft">
        <ion-option value="no" selected="true">No</ion-option>
        <ion-option value="yes">Yes</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked>Do you drive for a Limo company?</ion-label>
      <ion-select [class.invalid]="!signupLegalForm.controls.driveForLimo.valid
        && (signupLegalForm.controls.driveForLimo.dirty || submitAttempt)" class="input" formControlName="driveForLimo">
        <ion-option value="no" selected="true">No</ion-option>
        <ion-option value="yes">Yes</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked>Do you have your own Limo?</ion-label>
      <ion-select [class.invalid]="!signupLegalForm.controls.ownLimo.valid
        && (signupLegalForm.controls.ownLimo.dirty || submitAttempt)" class="input" formControlName="ownLimo">
        <ion-option value="no" selected="true">No</ion-option>
        <ion-option value="yes">Yes</ion-option>
      </ion-select>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-item style="width: 15%">
          <ion-checkbox (ionChange)="enableCheck($event)" color="dark"></ion-checkbox>
        </ion-item>
        <ion-item>
          <button ion-button clear color="light" (click)="termsAndConditions()" style="font-size: 15px;">I Accept, Terms & Conditions</button>
        </ion-item>
      </ion-row>
    </ion-grid>

    <ion-row>
      <ion-col text-center>
        <button ion-button [disabled]="checkDisabled" round style="margin-top:20px;" color="dark" (click)="submit()" icon-right>
          Submit
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
