page-legal-information {
    form {
    top: 20px;
    margin-bottom: 32px;
    button {
      margin-top: 20px;
    }
  }

    p {
      font-size: 0.8em;
      color: #d2d2d2;
    }

    ion-label {
      margin-left: 5px;
    }

    ion-input {
      padding: 5px;
    }

    .invalid {
      border-bottom: 1px solid #FF6153;
    }

    .error-message .item-inner {
      border-bottom: 0 !important;
    }

      .item{
   background-color: rgba(37, 3, 6,0.7)  !important;
 }

 .label{
   color: #bfbfbf !important;
 }

 .input{
   color: #fff !important;
 }

  ion-content{
    // background-image: url('https://www.empirecls.com/wp-content/themes/empire-custom/images/hero-home.jpg');
    // background: url('img/hero-home.jpg');
    background-image: url('../assets/img/hero-home-new.jpg');
    // background: cover;
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .left-col{
  padding-left:0px !important;
  }
  .right-col{
  padding-right:0px !important;
  }
}
