page-profile {
  .image {
    height: 20vh !important;
    width: auto !important;
    margin: auto !important;
    display: block !important;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px gray;
    display: inline-block;
  }
}
