
<ion-header>

  <ion-navbar color="dark">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>{{fullname}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-avatar item-left>
    <img *ngIf="!profilePhoto" class="image" src="assets/img/driver1.png">
    <img *ngIf="profilePhoto" class="image" src={{profilePhoto}}>
    <!--<img-loader class="image" src={{profilePhoto}} useImg></img-loader>-->
  </ion-avatar>
  <ion-list>
    <ion-item>
      Email
      <ion-note item-right style="font-size: 12px" >
        {{email | slice:0:3}}****{{email | slice:-4}}
      </ion-note>
    </ion-item>
    <ion-item>
      City
      <ion-note item-right style="font-size: 12px">
        {{city}}
      </ion-note>
    </ion-item>
    <ion-item>
      State
      <ion-note item-right style="font-size: 12px">
        {{state}}
      </ion-note>
    </ion-item>
    <ion-item>
      Zipcode
      <ion-note item-right style="font-size: 12px">
        {{zipcode | slice:-3}}***
      </ion-note>
    </ion-item>
    <ion-item>
      Phone Number
      <ion-note item-right style="font-size: 12px">
        {{phonenumber | slice:0:2}}
      </ion-note>
    </ion-item>
    <ion-item>
      SSN
      <ion-note item-right style="font-size: 12px">
        {{ssn | slice:0:3}}*****{{ssn | slice:-2}}
      </ion-note>
    </ion-item>
    <ion-item>
      Bank
      <ion-note item-right style="font-size: 12px">
        {{bankName}}
      </ion-note>
    </ion-item>
    <ion-item>
      Account Title
      <ion-note item-right style="font-size: 12px">
        {{accountHolderName}}
      </ion-note>
    </ion-item>
    <ion-item>
      ABA
      <ion-note item-right style="font-size: 12px">
        {{abaNumber}}
      </ion-note>
    </ion-item>
    <ion-item>
      Account Number
      <ion-note item-right style="font-size: 12px">
        {{accountNumber | slice:0:5}}****{{accountNumber | slice:-3}}
      </ion-note>
    </ion-item>
    <ion-item>
      Driving License
      <ion-note item-right style="font-size: 12px">
        {{drivingLicense | slice:0:3}}****{{drivingLicense | slice:-3}}
      </ion-note>
    </ion-item>
    <ion-item>
      expiration
      <ion-note item-right style="font-size: 12px">
        {{expirationDate}}
      </ion-note>
    </ion-item>
    <ion-item>
      License Plate
      <ion-note item-right style="font-size: 12px">
        {{licensePlateNumber}}
      </ion-note>
    </ion-item>
    <ion-item>
      Make
      <ion-note item-right style="font-size: 12px">
        {{carMake}}
      </ion-note>
    </ion-item>
    <ion-item>
      Brand
      <ion-note item-right style="font-size: 12px">
        {{carBrand}}
      </ion-note>
    </ion-item>
    <ion-item>
      Color
      <ion-note item-right style="font-size: 12px">
        {{carColor}}
      </ion-note>
    </ion-item>
    <ion-item>
      Year
      <ion-note item-right style="font-size: 12px">
        {{carYear}}
      </ion-note>
    </ion-item>
    <ion-item>
      Insurance
      <ion-note item-right style="font-size: 12px">
        {{insuranceName}}
      </ion-note>
    </ion-item>
    <ion-item>
      Policy Number
      <ion-note item-right style="font-size: 12px">
        {{policyNumber | slice:0:3}}****{{policyNumber | slice:-3}}
      </ion-note>
    </ion-item>
    <ion-item>
      TCP
      <ion-note item-right style="font-size: 12px">
        {{tcpNumber}}
      </ion-note>
    </ion-item>
    <ion-item>
      Drive for uber
      <ion-note item-right style="font-size: 12px">
        {{driveForUber}}
      </ion-note>
    </ion-item>
    <ion-item>
      Drive for Lyft
      <ion-note item-right style="font-size: 12px">
        {{driveForLyft}}
      </ion-note>
    </ion-item>
    <ion-item>
      Drive for Limo
      <ion-note item-right style="font-size: 12px">
        {{driveForLimo}}
      </ion-note>
    </ion-item>
    <ion-item>
      Own a limo
      <ion-note item-right style="font-size: 12px">
        {{ownLimo}}
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-thumbnail item-left>
        <img src={{carPicture}}>
        <img-loader src={{carPicture}}></img-loader>
      </ion-thumbnail>
      <h2>Car picture</h2>
      <p>{{carMake}}</p>
    </ion-item>
    <ion-item>
      <ion-thumbnail item-left>
        <img src={{dmvPicture}}>
        <img-loader src={{dmvPicture}}></img-loader>
      </ion-thumbnail>
      <h2>DMV picture</h2>
      <p>{{carMake}}</p>
    </ion-item>
    <ion-item>
      <ion-thumbnail item-left>
        <img src={{carRegistrationPicture}}>
        <!--<img-loader src={{carRegistrationPicture}} useImg></img-loader>-->
      </ion-thumbnail>
      <h2>Registration picture</h2>
      <p>{{carMake}}</p>
    </ion-item>
    <ion-item>
      <ion-thumbnail item-left>
        <img src={{insuranceCardPhoto}}>
        <img-loader src={{insuranceCardPhoto}}></img-loader>
      </ion-thumbnail>
      <h2>Insurance Card picture</h2>
      <p>{{carMake}}</p>
    </ion-item>
    <button ion-button full color="dark" (click)="editProfile()">Edit Profile</button>
  </ion-list>
</ion-content>
