<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
     <ion-title item-right>
      <img src="assets/img/tkride-cropped.png" alt="" class="logo-style" />
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="adjustLocation()">
        <ion-icon name="navigate-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content scroll="false">

  <div #pleaseConnect id="please-connect">
    <p>Please connect to the Internet...</p>
  </div>

  <!--<div #pleaseTurnOnLocation id="please-turn-on-location">
    <p>Please turn on location</p>
  </div>-->

  <div #map id="map"></div>

</ion-content>
