<ion-header>

  <ion-navbar color="dark">
    <ion-title>Sign Up</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <h5 style="color: white">Step 1 of 6</h5>
  <form [formGroup]="signupForm">

    <ion-item>
      <ion-label stacked class="label">Email</ion-label>
      <ion-input placeholder="yourname@example.com" #email formControlName="email" class="input" type="email" [class.invalid]="!signupForm.controls.email.valid && (signupForm.controls.email.dirty || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.email.valid  && (signupForm.controls.email.dirty || submitAttempt)">
      <p>Please enter a valid email address.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked class="label">Password</ion-label>
      <ion-input #password formControlName="password" type="password" class="input" [class.invalid]="!signupForm.controls.password.valid &&
      (signupForm.controls.password.dirty || submitAttempt)" placeholder="minimum 6 characters"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.password.valid  && (signupForm.controls.password.dirty || submitAttempt)">
      <p>Your password needs more than 6 characters.</p>
    </ion-item>
<p style="text-align: left;color: white; padding-left: 12px;">Upload Picture</p>
    <ion-row>   
      <ion-col width-50>
        <button ion-button color="dark" icon-only style="font-size: 30px; line-height: 50vh; width:100% !important;" (click)="driverPicture()">
          <ion-icon name="camera"></ion-icon>
        </button>
      </ion-col>
      <ion-col width-50>
        <button ion-button color="dark" icon-only style="font-size: 30px; line-height: 50vh; width:100% !important;" (click)="driverPhotos()">
          <ion-icon name="images"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <h6 style="text-align: center; color: white" *ngIf="photoRef">Your picture is uploaded</h6>

    <ion-row>
      <ion-col text-center>
        <button [disabled]="disabled" ion-button round style="margin-top:20px;" color="dark" (click)="continue()" icon-right>
          Continue
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

  </form>

</ion-content>