<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title item-right>
      <img src="assets/img/tkride-cropped.png" alt="" class="logo-style" />
    </ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding>
  <div #map id="map"></div>
  <!-- <button [disabled]="disabled" ion-button block outline color="dark" (click)="startRide()"style="position: absolute; bottom: 20%;">Start Ride</button> -->
  <!-- <button [disabled]="disabled" ion-button item-bottom color="dark" (click)="startRide()" full>Start Ride</button> -->
  <!-- <button [disabled]="disabled" ion-button full color="dark" (click)="endRide()" fab fab-bottom fab-fixed>End Ride</button> -->
  <!-- <button ion-button block color="dark" (click)="addCost()">Add Extra Cost</button> -->

  <ion-footer>
    <!-- <img src="assets/img/tkride-gif.gif" alt="">   -->
    <button [disabled]="disabledStart" ion-button full outline color="dark" (click)="startRide()">
      Start Ride
    </button>
    <button [disabled]="disabledEnd" ion-button full outline color="dark" (click)="endRide()">
      End Ride
    </button>
    </ion-footer>
</ion-content>
