page-ride {
#map {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      // z-index: -7;
  }
.logo-style{
    width: 55%;
    background-color: transparent !important;
    margin-top: 5px;
}
}
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}
