<ion-header>

  <ion-navbar color="dark">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Support</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p>For any questions or feedback, please contact us at <strong style="color: darkblue" (click)="openEmail()">support@tkride.com</strong> </p>
</ion-content>