<ion-header>

  <ion-toolbar>
    <ion-title>Client Request</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content padding>
    <!--<div #pleaseConnect id="please-connect">
    <p>Please connect to the Internet...</p>
  </div>-->

  <div #map id="map"></div>
    <ion-item>
      <ion-icon ios="ios-person" item-left large></ion-icon>
      <h2>Client</h2>
      <p>{{clientName}}</p>

    </ion-item>
    <ion-item>
      <ion-icon ios="ios-navigate" item-left large></ion-icon>
      <h2>Pickup Location</h2>
      <p>{{pickupLocation}}</p>
    </ion-item>
    <ion-item>
      <ion-icon ios="ios-navigate" item-left large></ion-icon>
      <h2>Dropoff Location</h2>
      <p>{{dropoffLocation}}</p>
    </ion-item>
    <ion-row>
      <ion-col >
        <button ion-button icon-left color="secondary" outline (click)="accept()">
          <ion-icon name="checkmark"></ion-icon>
          Accept
        </button>
      </ion-col>
      <ion-col >
        <button ion-button icon-left color="danger" outline style="float: right !important;" (click)="reject()">
          <ion-icon name="close"></ion-icon>
          Reject
        </button>
      </ion-col>
    </ion-row>
  <!--<ion-card>

</ion-card>-->
    <!--<ion-item>
      <span class="font-12" item-left>{{duration}}</span>
      <span class="font-12" item-left>{{distance}}</span>
      <span item-left style="color: green">{{estimate | currency:'USD':true:'1.0-0'}}</span>
      <button ion-button #button icon-left clear item-right (click)="goToList()">
        <ion-icon name="navigate"></ion-icon>
        Go
      </button>
    </ion-item>-->
</ion-content>