<ion-header>

  <ion-navbar color="dark">
    <ion-title>Car Information</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h5 style="color: white">Step 4 of 6</h5>
  <form [formGroup]="signupCarForm">
    <ion-item>
      <ion-label stacked>Driving License #</ion-label>
      <ion-input #drivingLicense formControlName="drivingLicense" class="input"
        [class.invalid]="!signupCarForm.controls.drivingLicense.valid && (signupCarForm.controls.drivingLicense.dirty || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item *ngIf="!signupCarForm.controls.drivingLicense.valid  && (signupCarForm.controls.drivingLicense.dirty || submitAttempt)">
      <p>Please enter a valid license number.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked class="label">License Expiration</ion-label>
      <ion-datetime #expirationDate formControlName="expirationDate" class="input" displayFormat="MM-DD-YYYY" min="2017-04-01" max="2030-12-31"
        [class.invalid]="!signupCarForm.controls.expirationDate.valid && (signupCarForm.controls.expirationDate.dirty || submitAttempt)"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="!signupCarForm.controls.expirationDate.valid  && (signupCarForm.controls.expirationDate.dirty || submitAttempt)">
      <p>Please enter license expiration date.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>License Plate #</ion-label>
      <ion-input #drivingLicense formControlName="licensePlateNumber" class="input"
        [class.invalid]="!signupCarForm.controls.licensePlateNumber.valid && (signupCarForm.controls.licensePlateNumber.dirty || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item *ngIf="!signupCarForm.controls.licensePlateNumber.valid  && (signupCarForm.controls.licensePlateNumber.dirty || submitAttempt)">
      <p>Please enter a valid license number.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked class="label">Car Make</ion-label>
      <ion-select [class.invalid]="!signupCarForm.controls.carMake.valid
        && (signupCarForm.controls.carMake.dirty || submitAttempt)" class="input" formControlName="carMake">
        <ion-option value="bmw">BMW</ion-option>
        <ion-option value="mercedes">Mercedes</ion-option>
        <ion-option value="chevyS">Chevrolet Suburban</ion-option>
        <ion-option value="chevyT">Chevrolet Tahoe</ion-option>
        <ion-option value="gmcY">GMC Yukan</ion-option>
        <ion-option value="infinity">Infinity</ion-option>
        <ion-option value="lincoln">Lincoln</ion-option>
        <ion-option value="lexus">Lexus</ion-option>
        <ion-option value="tesla">Tesla</ion-option>
        <ion-option value="cadillac">Cadillac</ion-option>
        <ion-option value="Mercedes">GMC</ion-option>
        <ion-option value="rangeOver">Range Rover</ion-option>
        <ion-option value="jaguar">Jaguar</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked class="label">Car Brand</ion-label>
      <ion-input #carModel formControlName="carBrand" type="text" class="input"
        [class.invalid]="!signupCarForm.controls.carBrand.valid && (signupCarForm.controls.carBrand.dirty || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item *ngIf="!signupCarForm.controls.carBrand.valid  && (signupCarForm.controls.carBrand.dirty || submitAttempt)">
      <p>Please enter a brand name.</p>
    </ion-item>


    <ion-item >
      <ion-label stacked class="label">Car Color</ion-label>
      <ion-select [class.invalid]="!signupCarForm.controls.carColor.valid
        && (signupCarForm.controls.carColor.dirty || submitAttempt)" class="input" formControlName="carColor">
        <ion-option value="silver" selected>Silver/Aluminium</ion-option>
        <ion-option value="black">Black</ion-option>
        <ion-option value="blue">Blue</ion-option>
        <ion-option value="grey">Grey</ion-option>
        <ion-option value="red">Red</ion-option>
        <ion-option value="white">White</ion-option>
        <ion-option value="green">Green</ion-option>
        <ion-option value="beige">Beige/Buff</ion-option>
        <ion-option value="yellow">Yellow</ion-option>
        <ion-option value="brown">Brown</ion-option>
      </ion-select>
    </ion-item>

    <ion-item >
      <ion-label stacked class="label">Year Make</ion-label>
      <ion-datetime #carYear formControlName="carYear" class="input" displayFormat="YYYY" min="2013" max="2017" ngControl="carYear"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="!signupCarForm.controls.carYear.valid  && (signupCarForm.controls.carYear.dirty || submitAttempt)">
      <p>Please enter a valid car model.</p>
    </ion-item>

    <br>

    <ion-item>
      <ion-label stacked style="font-size: 18px;">Car Photo</ion-label>
    </ion-item>
    <ion-row>

      <ion-col width-50>
        <button ion-button color="dark" icon-only style="font-size: 30px; line-height: 50vh; width:100% !important;" (click)="takePicture()">
          <ion-icon name="camera"></ion-icon>
        </button>
      </ion-col>
      <ion-col width-50>
        <button ion-button color="dark" icon-only style="font-size: 30px; line-height: 50vh; width:100% !important;" (click)="takePictureFromPhotos()">
          <ion-icon name="images"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <h6 style="text-align: center; color: white" *ngIf="photoRef">Car photo uploaded</h6>

    <ion-item>
      <ion-label stacked style="font-size: 18px;">Car Registration Photo</ion-label>
    </ion-item>
    <ion-row>

      <ion-col width-50>
        <button ion-button color="dark" icon-only style="font-size: 30px; line-height: 50vh; width:100% !important;" (click)="carRegistrationPicture()">
          <ion-icon name="camera"></ion-icon>
        </button>
      </ion-col>
      <ion-col width-50>
        <button ion-button color="dark" icon-only style="font-size: 30px; line-height: 50vh; width:100% !important;" (click)="carRegistrationPhotos()">
          <ion-icon name="images"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <h6 style="text-align: center; color: white" *ngIf="carRegPhotoRef">Registration photo uploaded</h6>

    <ion-item>
      <ion-label stacked style="font-size: 18px;">DMV Photo</ion-label>
    </ion-item>
    <ion-row>

      <ion-col width-50>
        <button ion-button color="dark" icon-only style="font-size: 30px; line-height: 50vh; width:100% !important;" (click)="dmvPicture()">
          <ion-icon name="camera"></ion-icon>
        </button>
      </ion-col>
      <ion-col width-50>
        <button ion-button color="dark" icon-only style="font-size: 30px; line-height: 50vh; width:100% !important;" (click)="dmvPhotos()">
          <ion-icon name="images"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <h6 style="text-align: center; color: white" *ngIf="dmvPhotoRef">DMV photo uploaded</h6>

     <ion-row>
      <ion-col text-center>
        <button [disabled]="photoDisabled || regDisabled || dmvDisabled" ion-button round style="margin-top:20px;" color="dark" (click)="continue()" icon-right>
          Continue
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>
