<ion-header>

  <ion-navbar color="dark">
    <ion-title>Reset Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [formGroup]="resetPasswordForm" style="margin-top:50%" (submit)="resetPassword()" novalidate>

    <ion-item>
      <ion-label class="label" stacked>Email</ion-label>
      <ion-input #email formControlName="email" type="email" class="input" (change)="elementChanged(email)"
      placeholder="Your email address"
      [class.invalid]="!resetPasswordForm.controls.email.valid && (emailChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!resetPasswordForm.controls.email.valid  && (emailChanged || submitAttempt)">
      <p>Please enter a valid email.</p>
    </ion-item>

<ion-row>
  <ion-col text-center>
    <button ion-button color="dark" block type="submit">
      Reset Your Password
    </button>
  </ion-col>
</ion-row>

  </form>

</ion-content>
