<ion-header>

  <ion-navbar>
    <ion-title>Extra Cost</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span color="primary" showWhen="ios">Close</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h4 style="text-align: center">Add extra cost</h4>

  <!-- <ion-item>
    <ion-label>Description</ion-label>
    <ion-input type="number" [(ngModel)]="description"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Cost</ion-label>
    <ion-input type="number" [(ngModel)]="cost"></ion-input>
  </ion-item> -->

  <ion-item>
    <ion-label>Are there any bridges or tolls</ion-label>
    <ion-checkbox color="dark"></ion-checkbox>
  </ion-item>
</ion-content>

<ion-footer>
  <button ion-button full style="margin-bottom: 0px !important" color="dark" (click)="addCost()">Add Cost</button>
</ion-footer>
