<ion-header>

  <ion-navbar color="dark">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Rides history</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item *ngIf="rides == undefined">
    <h6>You haven't given any rides yet</h6>
  </ion-item>
  <ion-item *ngIf="rides !== undefined">
    <ion-card *ngFor="let ride of rides">
      <ion-item>
        <h2>Pickup Location</h2>
        <p><font size="2">{{(ride)?.pickupLocation}}</font></p>
        <p>{{pickup}}</p>
      </ion-item>

      <ion-item>
        <h2>Dropoff Location</h2>
        <p><font size="2">{{(ride)?.dropffLocation}}</font></p>
      </ion-item>

      <ion-item>
        <h2>Date</h2>
        <p><font size="2">{{(ride)?.date}}</font></p>
      </ion-item>

      <ion-item>
        <h2>Distance</h2>
        <p><font size="2">{{(ride)?.distance}}</font></p>
      </ion-item>

      <ion-item>
        <h2>Duration</h2>
        <p><font size="2">{{(ride)?.duration}}</font></p>
      </ion-item>

      <ion-item>
        <h2>Total Fair</h2>
        <p><font size="2">${{(ride)?.totalFair}}</font></p>
      </ion-item>

    </ion-card>
  </ion-item>
  
</ion-content>