
<ion-header>

  <ion-navbar color="dark">
    <ion-title >Insurance Information</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h5 style="color: white">Step 5 of 6</h5>
  <form [formGroup]="signupInsuranceForm">

    <ion-item class="no-padding">
      <ion-label floating>Insurance Name</ion-label>
      <ion-input formControlName="insuranceName" type="text" [class.invalid]="!signupInsuranceForm.controls.insuranceName.valid &&
        (signupInsuranceForm.controls.insuranceName.dirty || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupInsuranceForm.controls.insuranceName.valid  &&
        (signupInsuranceForm.controls.insuranceName.dirty || submitAttempt)">
      <p>Please enter a valid name.</p>
    </ion-item>

    <ion-item class="no-padding">
      <ion-label floating>Policy Number</ion-label>
      <ion-input formControlName="policyNumber" type="text" [class.invalid]="!signupInsuranceForm.controls.policyNumber.valid &&
        (signupInsuranceForm.controls.policyNumber.dirty || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupInsuranceForm.controls.policyNumber.valid  &&
        (signupInsuranceForm.controls.policyNumber.dirty || submitAttempt)">
      <p>Please enter a valid name.</p>
    </ion-item>

    <br>

    <ion-item>
      <ion-label stacked style="font-size: 18px;">Insurance Card</ion-label>
    </ion-item>
    <ion-row>

      <ion-col width-50>
        <button ion-button color="dark" icon-only style="font-size: 30px; line-height: 50vh; width:100% !important;" (click)="takePicture()">
          <ion-icon name="camera"></ion-icon>
        </button>
      </ion-col>
      <ion-col width-50>
        <button ion-button color="dark" icon-only style="font-size: 30px; line-height: 50vh; width:100% !important;" (click)="takePictureFromPhotos()">
          <ion-icon name="images"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <h6 style="text-align: center; color: white" *ngIf="insuranceCardPhoto">Insurance Card photo uploaded</h6>

    <ion-row>
      <ion-col text-center>
        <button [disabled]="insursanceDisabled" ion-button round style="margin-top:20px;" color="dark" (click)="continue()" icon-right>
          Continue
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>
