
<ion-header>

  <ion-navbar>
    <ion-title></ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span color="primary" showWhen="ios">OK</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h4 style = "text-align: center">Ride ended</h4>
  <h6>Distance: {{distance}}</h6>
  <h6>Duration: {{duration}} mins</h6>
  <h6>Total fair: ${{totalFair}}</h6>
  <!-- <h6>You earned: {{totalFair}} points</h6> -->

  <ion-item>
    <ion-label>Any bridges or tolls</ion-label>
    <ion-checkbox color="dark" (ionChange)="enableCost($event)"></ion-checkbox>
  </ion-item>
</ion-content>

<ion-footer>
  <button ion-button block color="dark" (click)="dismiss()">OK</button>
</ion-footer>
