<ion-header>

  <ion-navbar color="dark">
    <ion-title>Your Information</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h5 style="color: white">Step 2 of 6</h5>
  <form [formGroup]="signupPersonalForm">
    <ion-item class="no-padding">
      <ion-label floating>First Name</ion-label>
      <ion-input formControlName="firstName" type="text" [class.invalid]="!signupPersonalForm.controls.firstName.valid &&
        (signupPersonalForm.controls.firstName.dirty || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupPersonalForm.controls.firstName.valid  &&
        (signupPersonalForm.controls.firstName.dirty || submitAttempt)">
      <p>Please enter a valid name.</p>
    </ion-item>

    <ion-item class="no-padding">
      <ion-label floating>Last Name</ion-label>
      <ion-input formControlName="lastName" type="text" [class.invalid]="!signupPersonalForm.controls.lastName.valid &&
      (signupPersonalForm.controls.lastName.dirty || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupPersonalForm.controls.lastName.valid  &&
      (signupPersonalForm.controls.lastName.dirty || submitAttempt)">
      <p>Please enter a valid name.</p>
    </ion-item>

    <ion-item>
      <ion-label floating>Street Address</ion-label>
      <ion-input [class.invalid]="!signupPersonalForm.controls.billingAddress.valid
              && (signupPersonalForm.controls.billingAddress.dirty || submitAttempt)" class="input" formControlName="billingAddress">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupPersonalForm.controls.billingAddress.valid  &&
      (signupPersonalForm.controls.billingAddress.dirty || submitAttempt)">
      <p>Please select a state.</p>
    </ion-item>
    
    <ion-item>
      <ion-label floating>City</ion-label>
      <ion-input formControlName="city" type="text" [class.invalid]="!signupPersonalForm.controls.city.valid &&
      (signupPersonalForm.controls.city.dirty || submitAttempt)"></ion-input>
      <!-- <ion-select [class.invalid]="!signupPersonalForm.controls.city.valid
              && (signupPersonalForm.controls.city.dirty || submitAttempt)" class="input" formControlName="city">
        <ion-option value="SF" selected>San Francisco</ion-option>
      </ion-select> -->
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupPersonalForm.controls.state.valid  &&
      (signupPersonalForm.controls.state.dirty || submitAttempt)">
      <p>Please select a city.</p>
    </ion-item>

    <ion-item>
      <ion-label floating>State</ion-label>
      <ion-input formControlName="state" type="text" [class.invalid]="!signupPersonalForm.controls.state.valid &&
      (signupPersonalForm.controls.state.dirty || submitAttempt)"></ion-input>
      <!-- <ion-select [class.invalid]="!signupPersonalForm.controls.state.valid
              && (signupPersonalForm.controls.state.dirty || submitAttempt)" class="input" formControlName="state">
        <ion-option value="CF" selected>California</ion-option>
      </ion-select> -->
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupPersonalForm.controls.state.valid  &&
      (signupPersonalForm.controls.state.dirty || submitAttempt)">
      <p>Please select a state.</p>
    </ion-item>


    <ion-item>
      <ion-label stacked>ZIP</ion-label>
      <ion-input #zipcode formControlName="zipcode" type="number" class="input" [class.invalid]="!signupPersonalForm.controls.zipcode.valid &&
        (signupPersonalForm.controls.zipcode.dirty|| submitAttempt)" placeholder="e.g. 94555"></ion-input>
    </ion-item>
    <ion-item *ngIf="!signupPersonalForm.controls.zipcode.valid && (signupPersonalForm.controls.zipcode.dirty || submitAttempt)">
      <p>Please enter a valid ZIP code.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked class="label">Phone Number</ion-label>
      <ion-input #phoneNumber formControlName="phoneNumber" class="input" [class.invalid]="!signupPersonalForm.controls.phoneNumber.valid &&
        (signupPersonalForm.controls.phoneNumber.dirty || submitAttempt)" placeholder="1563216754"></ion-input>
    </ion-item>
    <ion-item *ngIf="!signupPersonalForm.controls.phoneNumber.valid && (signupPersonalForm.controls.phoneNumber.dirty || submitAttempt)">
      <p>Please enter a valid phone number.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked class="label">Social Security Number</ion-label>
      <ion-input #ssn formControlName="ssn" class="input" [class.invalid]="!signupPersonalForm.controls.ssn.valid &&
        (signupPersonalForm.controls.ssn.dirty || submitAttempt)" placeholder=" e.g. 543681365"></ion-input>
    </ion-item>
    <ion-item *ngIf="!signupPersonalForm.controls.ssn.valid && (signupPersonalForm.controls.ssn.dirty || submitAttempt)">
      <p>Please enter a valid SSN.</p>
    </ion-item>

    <ion-row>
      <ion-col text-center>
        <button ion-button round style="margin-top:20px;" color="dark" (click)="continue()" icon-right>
          Continue
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>